@model CheeseMVC.ViewModels.AddEditCheeseViewModel

<h1>Edit Cheese @Model.Name (ID = @Model.CheeseId)</h1>

<form method="post">

    <div class="form-group">
        <label asp-for="Name"></label>
        <input class="form-control" asp-for="Name" value="@Model.Name"/>
        <span asp-validation-for="Name"></span>
    </div>
    <div class="form-group">
        <label asp-for="Description"></label>
        <textarea class="form-control" asp-for="Description">@Model.Description</textarea>
        <span asp-validation-for="Description"></span>
    </div>
    <div class="form-group">
        <label asp-for="Type"></label>
        <select class="form-control" asp-for="Type" asp-items="Model.CheeseTypes"></select>
    </div>
    <div class="form-group">
        <label asp-for="Rating"></label>
        <input class="form-control" asp-for="Rating" />
        <span asp-validation-for="Rating"></span>
    </div>

    <input type="hidden" value="@Model.CheeseId" name="cheeseId" />
    <input class="btn btn-default" type="submit" value="Edit Cheese" />

</form>